<h1>Hi! Please confirm your email!</h1>

<p>
    Hey! Welcome to panterest. Our team is very glad to have you here on our application.<br>
    Hope you will enjoy creating pins and make the gallery grow for sharing art again and again.
</p>
<p>
    But before that we need you to confirm your email address by clicking the following link: <br><br>
    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
    This link will expire in {{ expiresAt|date('g') }} hour(s).
</p>

<p>
    After that we will be able to keep you informed on the application evolution and new stuffs!
</p>

<p>
    Enjoy your experience on Panterest! Cheers from Panterest Team!
</p>
