@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import "~bootstrap";

@import 'shared/variables';

body {
    font-family: $primary-font, 'sans-serif';
}

.alert {
    padding: 10px;
    color: white;
    text-align: center;
    margin: 0;
    border: none;
    border-radius: 0;

    &.alert-success {
        background-color: rgb(0, 177, 133);
    }

    &.alert-error {
        background-color: #dc3545;
    }

    &.alert-info {
        background-color: rgb(70, 196, 255);
    }
}

.vich-image {
    .form-check {
        @extend .mt-3;
    }

    img {
        @extend .mb-2, .rounded, .shadow, .img-thumbnail;
    }
}

.pin img{
    transition: transform 0.3s ease-out;
    &:hover {
        transform: scale(1.1);
    }
}




